@font-face {
    font-family: "Kapital";
    src: url("assets/fonts/kapital-medium.otf");
}

body {
    font-family: "Roboto", sans-serif;
    color: $text-color-secondary;
    background: $smoky-white;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    color: darken($theme-color, 15%);

    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 30%);
        @include transition(all 0.4s ease-in-out);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    background: $theme-color;
    // max-width: 960px;
    margin: 0 auto;
    // margin-top: 30px;
    position: relative;
    @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
    background: $theme-color;
    position: absolute;
    left: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: #fff;
    a {
        color: #fff;
    }
    .container-block {
        padding: 10px 25px 10px 30px;
    }
    .profile-container {
        padding: 30px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        text-align: center;
        .about-me-content {
            text-align: left;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .profile {
        margin-bottom: 15px;
        border-radius: 50%;
        width: 60%;
    }
    .section-title {
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 5px;
        text-align: center;
    }
    .contact-list {
        .svg-inline--fa {
            margin-right: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .email {
            .svg-inline--fa {
                font-size: 14px;
            }
        }
        ul {
            margin-bottom: 0px;
        }
    }

    .container-block-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .degree {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .education-container {
        .item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .meta {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 0;
            font-size: 14px;
        }
        .time {
            color: rgba(256, 256, 256, 0.6);
            font-weight: 500;
            margin-bottom: 0px;
        }
    }
    .languages-container {
        .lang-desc {
            color: rgba(256, 256, 256, 0.6);
        }
    }

    .languages-list {
        margin-bottom: 0;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .interests-container {
        .interests-list {
            margin-bottom: 0;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                position: relative;
                padding-left: 55px;
                .icon-holder {
                    position: absolute;
                    left: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .soft-skills-container {
        .skills-list {
            margin-bottom: 0px;
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.main-wrapper {
    background: #fff;
    padding: 60px;
    padding-left: 300px;
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        position: relative;
        margin-top: 0;
        margin-bottom: 20px;
        .icon-holder {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            display: inline-block;
            color: #fff;
            @include border-radius(50%);
            background: darken($theme-color, 15%);
            text-align: center;
            font-size: 16px;
            position: relative;
            top: -8px;
            .svg-inline--fa {
                font-size: 14px;
                margin-top: 6px;
            }
        }
    }
    .last-section {
        margin-bottom: 0px;
    }
    .section {
        margin-bottom: 20px;
    }

    .name-section {
        text-align: center;
        .name {
            font-size: 32px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .tagline {
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .experiences-section {
        .item {
            margin-bottom: 30px;
        }
    }
    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .job-title {
        color: $text-color;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $text-grey;
    }
    .company {
        margin-bottom: 10px;
        color: $text-grey;
    }

    .project-title {
        font-weight: 400;
        margin-top: 0;
    }
    .projects-section {
        .item {
            margin-bottom: 10px;
        }
    }
}

.kapital-font {
    font-family: "Kapital";
}

.skillset {
    .item {
        margin-bottom: 13px;
        overflow: hidden;
    }
    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .level-bar {
        height: 12px;
        background: $smoky-white;
        @include border-radius(2px);
    }

    .theme-progress-bar {
        background: lighten($theme-color, 10%);
    }
}